@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400&family=Neucha&display=swap");

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Neucha", cursive;
  background-color: blanchedalmond;
  align-items: center;
 
}

.heading {
  margin: 20px 30px;
  z-index: 1;
  font-size: 40px;
  color: burlywood;
  text-align: left;
  
}

@media (max-width: 800px) {
  .heading {
    font-size: 35;
    text-align: center;
  }
}
